{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}- Se connecter
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
<main class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="d-flex h1 text-light justify-content-center my-5">SKATELAND</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que
                {{ app.user.username }},
                <a href="{{ path('app_logout') }}">Déconnection</a>
            </div>
        {% endif %}

        {% if app.user is null %}
        <div class="container">
            <label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail"
            class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword"
            class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-primary mt-3" type="submit">
                Connexion
            </button>
        </div>
        {% endif %}
    </form>
</main>
{% endblock %}
