{% extends 'layout.html.twig' %}

{% block title %}{{ user.id }}{% endblock %}

{% block body %}
<div class="pt-3 container">

    <div class="example-wrapper">
        <h1 class="d-flex h1 text-light justify-content-center my-5">{{ user.id }} !</h1>
    </div>

    <div class="pb-5 row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
            <div class="col">
                <div class="data-card shadow bg-dark rounded-5 p-0 m-0 post">
                    <img src="{{ vich_uploader_asset(post) }}" class="card-img-top post-image" alt="...">
                    <div class="d-flex justify-content-between card-body">
                        <div>
                            <h5 class="card-title">
                                <a href="{{ path('user_show', {id: post.user.id}) }}" style="text-decoration:none">
                                    {{ post.user.id }}
                                </a>
                            </h5>
                            <p class="pt-2 card-text">{{ post.description }}</p>
                        </div>
                    </div>
                    <a href="#" class="d-flex justify-content-center btn mw-80 btn-secondary my-3 mx-3">Commenter</a>
                </div>
            </div>
        {% else %}
            <p>Pas de rider en vue !</p>
        {% endfor %}
    </div>
</div>
{% endblock %}